
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Meet The Team</title>
    <link href="~/Styles/meetteamstyle.css" rel="stylesheet" />
</head>
<body>
    <h2>Meet The Team</h2>
    
    <br>
    <hr/>
    <div class="row">
        <div class="column">
            <div class="card">






                <img src="~/Image/11207280_1016078891786205_8111382671919335893_n.jpg" alt="Mohiuddin Ahmed" style="width:100%"  />
                <div class="container">
                    <h2>Mohiuddin Ahmed</h2>
                    <p class="title">Student</p>
                    <p class="title">East West University</p>
                    <p>+8801521205293</p>
                    <p><button class="button">sumon13mp@gmail.com</button></p>
                </div>
            </div>
        </div>

        <div class="column">
            <div class="card">

                <img src="~/Image/IMG_4254.jpg" alt="Anower Hossain" style="width:100%" />
                <div class="container">
                    <h2>Anower Hossain</h2>
                    <p class="title">Student</p>
                    <p class="title">East West University</p>
                    <p>+8801982610143</p>
                    <p><button class="button">hossainanower4@gmail.com</button></p>
                </div>
            </div>
        </div>
        <div class="column">
            <div class="card">


                <img src="~/Image/17097211_375156432871562_5990098229647273638_o.jpg" alt="Imrul" style="width: 100%"/>
                <div class="container">
                    <h2>Imrul Kais</h2>
                    <p class="title">Student</p>
                    <p class="title">Daffodil International University</p>
                    <p>+8801834798047</p>
                    <p><button class="button">imrulkais22@gmail.com</button></p>
                </div>
            </div>
        </div>
    </div>

</body>
</html>
