@using UniversityCourseAndResultManagement.Models.EntityModels

@{
    ViewBag.Title = "Class Schedule Room Information";
    Layout = "~/Views/Shared/_Layout.cshtml";
    List<Department> departments = ViewBag.Departments;
}

<h2>Class Schedule Room Information</h2>
<hr/>
<form method="POST" id="classScheduleRoomInformationForm"></form>

