@{
    ViewBag.Title = "Course";
}
<h2>@ViewBag.Title</h2>

<hr />
<ul style="list-style-type: none; margin: 0; padding: 0; width: 50%; background-color: #f1f1f1">
    <li style="display: block; color: #000; padding: 10px 20px; text-decoration: none; font-size: 35px">@Html.ActionLink("Save Course", "SaveCourse", "Home")</li>
    <li style="display: block; color: #000; padding: 10px 20px; text-decoration: none; font-size: 35px">@Html.ActionLink("View Course Statistics", "CourseStatistics", "Home")</li>
</ul>