@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron" >

    <img src="~/Image/Main_Quadrangle_University_of_Sydney.jpg" style="width: 100%" />
</div>

<div class="row">
    <h1>University Course & Result Management Project</h1><br/>
    <h4>This project is provided by BITM(BASIS Institute of Technology & Management) during the course "Web App Develop Dot Net".<br/>
        In this project there have 14 scenario to complete the whole project. Every scenario have different condition.<br/>
        For build the project we have use Microsoft Visual Studio 2013, SQL Server Management Studio 2012 and MVC framework.<br/>
    We have tried our best to complete the project. Hope you enjoy the application.</h4>
</div>